body{
    --color: #EAF0F7;
    --secondary-color: #6b7283;
    --bg-color: #0B121E;
    --secondary-bg-color: #202B3C;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.spinner{
    height: 70px;
    width: 70px;
    border: 3px solid var(--secondary-color);
    border-left: 3px solid darkred;
    border-top: 3px solid darkgreen;
    animation: 2s spin linear infinite;
}

@keyframes spin {
    from{
        border: 3px solid var(--secondary-color);
        border-left: 3px solid darkred;
        border-top: 3px solid darkgreen;
    }
    25%{
        border: 3px solid var(--secondary-color);
        border-top: 3px solid darkred;
        border-right: 3px solid darkgreen;
    }
    50%{
        border: 3px solid var(--secondary-color);
        border-right: 3px solid darkred;
        border-bottom: 3px solid darkgreen;
    }
    to{
        border: 3px solid var(--secondary-color);
        border-bottom: 3px solid darkred;
        border-left: 3px solid darkgreen;
    }
}

.welcomeText{
    display: grid;
    grid-template-columns: 50% 50%;
}

.welcomeText div h1{
    font-family: "Bungee Spice", sans-serif;
    font-size: 4em;
    height: 40px;
}

.welcomeText div p{
    font-family: "Atomic Age", system-ui;
    font-size: 1.4em;
}

.welcomeText img{
    height: auto;
    width: 100%;
    opacity: 0.8;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-left: 4px solid black;
    transform: translateY(7vh);
}

.welcomeText div .p{
    font-family: "Josefin Slab", serif;
    font-size: 1.3em;
    text-align: center;
    border: 1px solid #EAF0F7;
    padding: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 21vw;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 30px;
    align-items: center;
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    border: 2px solid var(--color);
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.2);
}

.img{
    margin-top: 6px;
}

.card img{
    height: 250px;
    width: 320px;
    margin-top: 20px;
}

.card:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.4);
}

.desc{
    width: 380px;
}

.desc h3{
    text-align: justify;
    height: 23px;
    overflow: hidden;
    
}

.pDesc{
    text-align: justify;
    height: 55px;
    overflow: hidden;
}

.price{
    text-align: start;
    font-size: 1.5em;
    font-weight: 700;
}

.sPrc{
    font-weight: 400;
    margin-left: 1px;
    color: darkorange;
}

.cat{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.category{
    border: 1px solid var(--color);
    border-radius: 20px;
    cursor: pointer;
}

.category:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.3);
}

.active{
    background-color: var(--color);
    color: #0B121E;
    border: 1px solid var(--bg-color);
}


.addToCartBtn{
    height: 50px;
    width: 92%;
    font-size: 1.5em;
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--color);
    color: var(--color);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.addToCartBtn:hover{
    background-color: var(--color);
    color: var(--bg-color);
}

