body{
    --color: #EAF0F7;
    --secondary-color: #6b7283;
    --bg-color: #0B121E;
    --secondary-bg-color: #202B3C;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header h1{
    font-family: "Dr Sugiyama", cursive;
    font-size: 2.5em;
    font-weight: 300;
}

.headLink{
    text-decoration: none;
    color: var(--color);
}

.nav{
    display: flex;
}

.nav a{
    color: var(--color);
    text-decoration: none;
    font-size: 1.1em;
    transform: translateX(5vw);
}

.nav a:hover{
    border-top: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
}

.cart{
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.cart i{
    transform: translateX(5vw);
}

.cart sup{
    transform: translateX(38px);
}

.nav a.active{
    color: var(--secondary-color);
}


@media (max-width:669px){
    .header{
        justify-content: space-between;
    }

    .header h1{
        margin-left: 20px;
    }

    .nav a{
        display: none;
    }

    .cart{
        justify-content: start;
        transform: translateX(-7vh);
    }

    .cart sup{
        transform: translateX(25px);
    }
}